/*-----------
    Fonts
-----------*/
@font-face
{
    font-family: 'LayGrotesk';
    font-weight: normal;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/LayGrotesk-Regular.woff') format('woff');
}

@font-face
{
    font-family: 'LayGrotesk';
    font-weight: 500;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/LayGrotesk-Medium.woff') format('woff');
}

@font-face
{
    font-family: 'LayGrotesk';
    font-weight: 600;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/LayGrotesk-Semibold.woff') format('woff');
}

@font-face
{
    font-family: 'LayGrotesk';
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/LayGrotesk-Bold.woff') format('woff');
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


body
{
    font-family: 'LayGrotesk';
    font-size: 18px;
    line-height: 20px;

    display: flex;
    flex-direction: column;

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    letter-spacing: .25px;

    color: #000;
    background: #fff;
}


button
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    color: inherit;
    border: none;
    background: none;
}



.first_section
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}


.first_section .image
{
    position: relative;

    background: #ddd;
}


.first_section .image .img
{
    display: block;

    width: 100%;
}


.first_section .image .logo
{
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: -96px;
    left: 0;

    display: block;

    width: 192px;
    height: 192px;
    margin: 0 auto;

    border-radius: 50%;
}


.first_section .data
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    padding: 156px 33px 40px;
}


.first_section .desc
{
    text-align: center;
}


.first_section .btn
{
    margin-top: auto;
}



.second_section
{
    display: none;
    flex: 1 0 auto;
    flex-direction: column;
}


.second_section .image
{
    position: relative;

    background: #ddd;
}


.second_section .image .img
{
    display: block;

    width: 100%;
}


.second_section .data
{
    position: relative;

    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    padding: 94px 33px 40px;
}


.second_section .balance
{
    position: absolute;
    z-index: 3;
    top: -56px;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;
    padding: 20px;

    border-radius: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .05), 0 10px 10px rgba(0, 0, 0, .04), 0 21px 13px rgba(0, 0, 0, .03), 0 38px 15px rgba(0, 0, 0, .01), 0 60px 17px rgba(0, 0, 0, .00);

    gap: 8px;
}


.second_section .balance .title
{
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;

    width: 100%;

    letter-spacing: .25px;
}


.second_section .balance .logo
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 46px;
    height: 46px;

    border-radius: 50%;
}


.second_section .balance .logo img
{
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;
}


.second_section .balance .val
{
    font-size: 36px;
    font-weight: 600;
    line-height: 20px;

    letter-spacing: .25px;
    text-transform: uppercase;
}


.second_section .balance .denom
{
    font-size: 36px;
    font-weight: 700;
    line-height: 20px;

    letter-spacing: .25px;
    text-transform: uppercase;
}



.label
{
    font-size: 14px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 8px;
}


.field
{
    position: relative;

    padding: 1px;

    border-radius: 10px;
    background: linear-gradient(to bottom,  #5d33ce 0%,#200750 100%);
}


.input,
.input:focus
{
    font-family: var(--font_family);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;

    display: block;

    width: 100%;
    height: 48px;
    padding: 0 15px;

    transition: .2s linear;
    transition-property: border-color, opacity;

    color: currentColor;
    border: 1px solid #1a0242;
    border-radius: 10px;
    background: #170232;
}



.amount .denom
{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    height: 100%;
    padding: 0 16px;

    text-transform: uppercase;
}



.amount .max
{
    font-size: 12px;

    opacity: .5;
}



.pion_swap
{
    position: relative;

    display: none;

    width: 100%;
}


.pion_swap .swap_btn
{
    margin-top: 28px;
}


.pion_swap .success
{
    font-size: 20px;

    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    display: none;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 100%;

    text-align: center;

    background: #111;
}



.btn
{
    font-weight: 700;

    display: block;

    width: 100%;
    height: 52px;

    color: #fff;
    border-radius: 10px;
    background: #6039ff;
}


.btn + .btn
{
    margin-top: 20px;
}
